@font-face {
    font-family: 'CalvertMTBold';
    src: url(/fonts/Calvert\ MT\ Bold.ttf);
}
@font-face {
    font-family: 'Keysha';
    src: url(/fonts/Keshya.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.text-primary{
    font-family: 'CalvertMTBold', sans-serif;
    font-size:44px;
}

/* .logo{background-color:white;} */

body{overflow:auto;}
.Kaffea{font-family:'Keysha'; color:rgb(80, 39, 13);}

.banner-image{
    background-color: rgb(255, 167, 0);
    height: 100vh !important;
    background-size: cover;
}

/* navbar hover */
.navbar a:hover{
background-color:#0076b4;
color:white;

}

.nav-link{
    color:#0076b4;
    margin-left:20px;
    margin-right:10px;
    font-family:'CalvertMTBold';
}

#coconutSugar, #cocoa, #agaricus, #ganodrema{outline: 5px solid rgb(255, 167, 0);}

/* //imghover */
.shadow-lg:hover{
    transform: scale(1.05) translateY(-20px);
    z-index: 20;   
}

#imgKaffea{
    height:auto; 
    max-width: 100%;
}
/* 
.logo{
    height:300px;
    width:300px;
} */
p{font-family: 'CalvertMTBold';}

i,h5{color:#0076b4;}

.sectionOne{
    /* margin-top: calc(100vh - 200px); */
    color: #0076b4;
    background-color:rgb(253, 196, 22);
}

.sectionThree{
    background-color:#0076b4;
}